* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: linear-gradient(135deg, #667eea, #764ba2);
    background-image: url(./assets/neoncityskyline.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background: transparent;
    padding: 10px;
    width: 540px;
    height: 780px;
}

h1 {
    color: white;
    font-size: 44px;
    margin-bottom: 28px;
    text-align: center;
}

h2 {
    color: lightgray;
}

.search-box {
    display: flex;
    gap: 16px;
    margin-bottom: 20px;
}

.search-box input {
    flex: 1;
    padding: 12px 15px;
    border: 2px solid #ddd;
    border-radius: 20px;
    outline: none;
    font-size: 16px;
}

.search-btn {
    padding: 14px;
    width: 100px;
    font-weight: bold;
    font-size: 16px;
    color: white;
    border-radius: 20px;
    background-color: rgb(43, 122, 240)
}

.search-btn:hover {
    cursor: pointer;
}

#result {
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin-top: 30px;
}

.desc {
  font-size: 30px;
  font-weight: 600;
  color: white;
  margin: auto;
}

.temp {
    font-size: 84px;
    color: white;
    margin-top: 5px;
}

.info {
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 18px;
    text-align: center;
}

.weather__container {
    display: flex;
    justify-content: center;
    gap: 10px;
    height: 240px;
    padding-left: 24px;
    padding-right: 16px;
}

.weather__results {
    width: 400px;
}

.weather__icon {
    height: auto;
    width: 400px;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.info div {
    flex: 1;
    background: #f1f7ff;
    padding: 15px 10px;
    border-radius: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.info span {
    display: block;
    font-size: 24px;
    font-weight: bold;
    color: #2196f2;
    margin-top: 5px;
}

.footer__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 42px;
}

@media (max-width: 550px) {
    .weather__container {
        height: 180px;
    }

    .weather__results {
        width: 200px;
    }

    h2 {
        font-size: 22px;
    }
    
    .search-box {
        width: 380px;
        justify-content: center;
        margin: 0 auto;
        gap: 10px;
    }
     .temp {
        font-size: 64px;
     }

     .desc {
        font-size: 22px;
     }

     .weather__icon {
        width: 150px;
     }

     .info span {
        font-size: 18px;
     }

     .info div {
        background: #f1f7ff;
        padding: 8px 4px;
        gap: 8px;
    }
    .info {
        width: 380px;
        font-size: 16px;
    }

}